/* Imagen de fondo */
body {
  background-image: url(fondo\ 2.jpg);
  background-size:cover;
 
}
.video-container {
 height: 250px;
 
}

video {
  width: 100%;
  height: 100vh;
  object-fit: fill;
  position:absolute;
}

/* Titulo */
h1 {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin-top: 50px;
  color: #032215;
}

/* Barra de navegación */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #032215;
  color: white;
  padding: 10px 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

/* Divs de imágenes */
.image-container {
  display: flex;
  justify-content: space-between;
  margin: 90px 40px;
}

.image-container img {
  width: 400px;
  height: 3000px;
  object-fit: cover;
}

.image-container p {
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: 032215;
  height: 40px;;
}

.footer img {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}
